$margin-element: 0 0 15px 0;

.container {
  height: 100vh;
  width: 100vw;
  line-height: 1.2;
  font-family: sans-serif;

  .error-type, .error-name {
    margin: $margin-element;
  }

  .error-type {
    font-size: 2em;
  }

  .error-name {
    font-size: 1.5em;
  }

  .error-description {
    margin: $margin-element;
  }
}
