<section class="container-fluid">
    <div class="col-12 mb-3">
        <div class="card">
            <h5 class="card-header">Create new survey</h5>
            <div class="card-body">
                <form>
                    <div class="bmd-form-group">
                        <label for="selectUser" class="bmd-label-floating">Select employee</label>
                        <input type="text" class="form-control" id="selectUser">
                    </div>
                    <div class="form-group">
                        <label for="selectDegrees">State</label>
                        <select id="selectDegrees" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-raised w-sm-100">Create survey</button>
                </form>
            </div>
        </div>
    </div>
</section>
