<!--<aside class="sidebar sidebar-fixed">
  <ul class="link-list">
    <li>
      <a href="" class="menu-link"></a>
    </li>
    <li>
      <a href="" class="menu-link"></a>
    </li>
    <li>
      <a href="" class="menu-link"></a>
    </li>
    <li>
      <a href="" class="menu-link"></a>
    </li>
    <li>
      <a href="" class="menu-link"></a>
    </li>
    <li>
      <a href="" class="menu-link"></a>
    </li>
  </ul>
</aside>-->
<!--<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../assets/img/sidenav-user-bg.png" alt="Side navbar background">
      </div>
      <a href="#"><img class="circle" src="../../assets/img/user-icon.png" alt="User profile icon"></a>
      <p><span class="white-text name">Mark Kozinski</span></p>
      <p><span class="white-text email">mark.kozinski@gmail.com</span></p>
    </div>
  </li>
  <li>
    <a class="waves-effect" href="./home.html">
      <i class="material-icons">home</i>Home
    </a>
  </li>
  <li>
    <a class="waves-effect" href="#">
      <i class="material-icons">account_circle</i>Account
    </a>
  </li>
  <li class="active">
    <a class="waves-effect" href="#">
      <i class="material-icons">format_list_numbered</i>Test
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="waves-effect" href="#">
      <i class="material-icons">exit_to_app</i>Logout
    </a>
  </li>
</ul>-->

<ul>
  <li *ngFor="let testRes of testResources">
    <p>id: {{ testRes?.id }}</p>
    <p>person_id: {{ testRes?.person_id }}</p>
    <p style="width: 1000px; word-wrap: break-word;">token: {{ testRes?.token }}</p>
  </li>
</ul>




