<section class="container-fluid">

  <div class="col-12 mb-3">
    <a routerLink="/home/surveys-list" role="button" class="btn btn-success w-sm-100">
      <fa-icon class="mr-2" [icon]="goBackIcon"></fa-icon>Go back
    </a>
  </div>

  <div class="col-12 mb-3" *ngFor="let survey of surveyData">
    <div class="card">

      <div class="card-header">
        <span class="font-weight-bold">Question: </span>
        {{ survey.question }}
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold">Answers:</li>
        <app-survey-answer-item [isRight]="survey.is_right" [answerText]="survey.answer"></app-survey-answer-item>
      </ul>

    </div>
  </div>

</section>
