<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="loginEmail" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="loginPassword" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
