<div class="wrapper">

    <header class="header bg-primary">

        <button class="btn sidebar-toggler" type="button" (click)="toggleSidebar()">
            <fa-icon class="fa-icon" [icon]="burgerIcon"></fa-icon>
        </button>

        <div class="header-content">
            <a routerLink="/home" class="btn header-brand">
                <img src="../../assets/img/logo.png" alt="Logo" class="header-logo">
                Test System
            </a>
        </div>

    </header>

    <nav class="sidebar-wrapper" [class.visible]="sidebarVisible" (click)="toggleSidebar()">
        <ul class="sidebar-nav bg-primary" [class.visible]="sidebarVisible" (click)="stopEventClick($event)">

            <li class="sidebar-block">
                <div class="account-info">
                    <img src="../../assets/img/user-icon-128.png" class="user-icon" alt="User icon">
                    <div class="nickname">{{ userName }}</div>
                </div>
            </li>

            <app-sidebar-menu-item (changeMenuState)="closeMenu($event)"></app-sidebar-menu-item>

            <li class="sidebar-block">
                <hr class="separator">
            </li>

            <li class="sidebar-block" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/" class="sidebar-link">
                    <fa-icon class="fa-icon" [icon]="logoutIcon"></fa-icon>
                    Logout
                </a>
            </li>

        </ul>
    </nav>

    <main class="content-wrapper" [class.fix-main-content]="sidebarVisible">
        <router-outlet></router-outlet>
    </main>

</div>
